<div class="profile">
    <div class="profile_summary">
        <img
                class="profile_summary_photo"
                src="../../../../resources/img/profile/photo.png"
                alt="Фото"
        >
        <div class="profile_summary_property">
            <div class="profile_summary_property_name">Никнейм:</div>
            <div class="profile_summary_property_value">Петр</div>
        </div>
        <div class="profile_summary_property">
            <div class="profile_summary_property_name">Скидка:</div>
            <div class="profile_summary_property_value">20%</div>
        </div>
        <div class="profile_summary_property">
            <div class="profile_summary_property_name">Баланс бонусов:</div>
            <div class="profile_summary_property_value">???</div>
        </div>
        <div class="profile_summary_property">
            <div class="profile_summary_property_name">Список авто:</div>
            <div class="profile_summary_property_value">
                <div>Тойота</div>
                <div>Ниссан Skyline</div>
            </div>
        </div>
        <a class="profile_summary_edit">Редактировать профиль</a>
    </div>
    <div class="profile_actions">
        <button class="profile_actions_check-in" type="button">Запись онлайн</button>
        <button class="profile_actions_request-call" type="button">Заказать обратный звонок</button>
    </div>
</div>