<div class="profile">
    <div class="profile__summary">
        <img
                class="profile__photo"
                src="../../../../resources/img/profile/photo.png"
                alt="Фото"
        >
        <div class="profile__property">
            <div class="profile__property-name">Никнейм:</div>
            <div class="profile__property-value">Петр</div>
        </div>
        <div class="profile__property">
            <div class="profile__property-name">Скидка:</div>
            <div class="profile__property-value">20%</div>
        </div>
        <div class="profile__property">
            <div class="profile__property-name">Баланс бонусов:</div>
            <div class="profile__property-value">???</div>
        </div>
        <div class="profile__property">
            <div class="profile__property-name">Список авто:</div>
            <div class="profile__property-value">
                <div>Тойота</div>
                <div>Ниссан Skyline</div>
            </div>
        </div>
        <a class="profile__edit">Редактировать профиль</a>
    </div>
    <div class="profile__actions">
        <button class="profile__check-in" type="button">Запись онлайн</button>
        <button class="profile__request-call" type="button">Заказать обратный звонок</button>
    </div>
</div>