<footer class="footer">
    <div class="dimensioned">
        <div class="footer-content">
            <div class="footer-content_company">
                <img
                        class="footer-content_company_logo"
                        src="../../../resources/img/footer-logo.png"
                        alt="Автомойка SUZUKI"
                >
                <div class="footer-content_company_name">Автомойка SUZUKI</div>
            </div>
            <div class="footer-content_bar"></div>
            <nav class="footer-content_nav">
                <a class="footer-content_nav_a">О нас</a>
                <a class="footer-content_nav_a">Прайсы</a>
                <a class="footer-content_nav_a">Галерея</a>
            </nav>
            <div class="footer-content_bar"></div>
            <div class="footer-content_account">
                <img
                        class="footer-content_account_logo"
                        src="../../../resources/img/account-logo.png"
                        alt="Аккаунт"
                >
                <a class="footer-content_account_a">Личный кабинет</a>
            </div>
        </div>
    </div>
</footer>