@import '../../root.pcss';

html:not(.can-touch) .pick-control:hover {
  background-color: var(--blue-color);

  &.pick-control_picked {
    background-color: #ffd800;
  }
}

.date-time-picker {
  display: flex;
}

.pick-control_picked {
  background-color: #ffd800;
}
