@import '../../root.pcss';

html:not(.can-touch) #time-picker button.pick:hover,
html:not(.can-touch) #date-picker button.pick:hover {
  background-color: var(--blue-color);

  &.picked {
    background-color: #ffd800;
  }
}

#date-time-picker {
  display: flex;
}
