<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Профиль</title>
</head>

<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<%= require('html-loader!./components/header/index.html') %>
<main>
    <div class="dimensioned">
        <div class="content-wrapper">
            <%= require('html-loader!./components/profile/index.html') %>
            <%= require('html-loader!./components/info/index.html') %>
        </div>
    </div>
</main>
<%= require('html-loader!./components/footer/index.html') %>
</body>

</html>
