<select class="select-service">
    <option value="Выберите услугу" disabled selected>Выберите услугу</option>
    <option value="Бесконтактная мойка кузова Стандарт">Бесконтактная мойка кузова Стандарт</option>
    <option value="Нано мойка">Нано мойка</option>
    <option value="Чистка ковриков">Чистка ковриков</option>
    <option value="Пылесос">Пылесос</option>
    <option value="Влажная уборка / полировка пластика">Влажная уборка / полировка пластика</option>
    <option value="Очистка стекол">Очистка стекол</option>
    <option value="Кондиционер кожи">Кондиционер кожи</option>
    <option value="Уборка багажника">Уборка багажника</option>
    <option value="Химчистка салона">Химчистка салона</option>
    <option value="Комплекс">Комплекс</option>
    <option value="Комплекс Плюс">Комплекс Плюс</option>
    <option value="Чернение колес">Чернение колес</option>
    <option value="Мойка двигателя">Мойка двигателя</option>
    <option value="Удаление битума/насекомых">Удаление битума/насекомых</option>
    <option value="Продув до полного высыхания">Продув до полного высыхания</option>
    <option value="Полировка фар">Полировка фар</option>
    <option value="Полировка кузова">Полировка кузова</option>
</select>