@import '../../../root.pcss';

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--red-color);
}

.modal-footer__to-nearest {
  @apply(--reset-button);
  @apply(--underline-decoration);

  display: block;
  color: #fff;
  font: normal 400 22px/1.667 var(--proxima-nova-font-stack);

  &::before {
    bottom: 5px;
  }
}

.modal-footer__check-in {
  @apply(--check-in-button);
}