@import '../../styles/root.pcss';

.date-time-picker {
  display: flex;
}

.pick-control {
  @apply --reset-control;

  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--gray-color);
}

.pick-control_disabled {
  pointer-events: none;
  background: var(--red-color);
}

html:not(.can-touch) .pick-control:hover {
  background: var(--blue-color);

  &.pick-control_picked {
    background: var(--pick-color);
  }
}

.pick-control_picked {
  background: var(--pick-color);
}
