<!DOCTYPE html>
<!--TODO WTF with fonts?-->
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fffff">
    <title>Профиль</title>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>

<div class="modal overlay visually-hidden" tabindex="-1" aria-hidden="true">
    <div class="modal-content">
        <select class="service">
            <option value="Выберите услугу" disabled selected>Выберите услугу</option>
            <option value="Бесконтактная мойка кузова Стандарт">Бесконтактная мойка кузова Стандарт</option>
            <option value="Нано мойка">Нано мойка</option>
            <option value="Чистка ковриков">Чистка ковриков</option>
            <option value="Пылесос">Пылесос</option>
            <option value="Влажная уборка / полировка пластика">Влажная уборка / полировка пластика</option>
            <option value="Очистка стекол">Очистка стекол</option>
            <option value="Кондиционер кожи">Кондиционер кожи</option>
            <option value="Уборка багажника">Уборка багажника</option>
            <option value="Химчистка салона">Химчистка салона</option>
            <option value="Комплекс">Комплекс</option>
            <option value="Комплекс Плюс">Комплекс Плюс</option>
            <option value="Чернение колес">Чернение колес</option>
            <option value="Мойка двигателя">Мойка двигателя</option>
            <option value="Удаление битума/насекомых">Удаление битума/насекомых</option>
            <option value="Продув до полного высыхания">Продув до полного высыхания</option>
            <option value="Полировка фар">Полировка фар</option>
            <option value="Полировка кузова">Полировка кузова</option>
        </select>
        <footer>
            <button class="to-nearest">Ближайшее свободное</button>
            <button class="check-in">Записаться</button>
        </footer>
    </div>
</div>

<%= require('html-loader!./view/components/header/index.html') %>

<main>
    <div class="dimensioned">
        <div class="flex-wrapper">
            <%= require('html-loader!./view/components/profile/index.html') %>
            <%= require('html-loader!./view/components/info/index.html') %>
        </div>
    </div>
</main>

<%= require('html-loader!./view/components/footer/index.html') %>

</body>
</html>
