<!DOCTYPE html>
<!--TODO WTF with fonts?-->
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fffff">
    <title>Профиль</title>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>

<div class="modal overlay modal_closed" tabindex="-1" aria-hidden="true">
    <div class="modal__content">
        <%= require('html-loader!./view/components/modal/select-service/index.html') %>
        <%= require('html-loader!./view/components/modal/modal-footer/index.html') %>
    </div>
</div>

<%= require('html-loader!./view/components/header/index.html') %>

<main>
    <div class="dimensioned">
        <div class="flex-wrapper">
            <%= require('html-loader!./view/components/profile/index.html') %>
            <%= require('html-loader!./view/components/info/index.html') %>
        </div>
    </div>
</main>

<%= require('html-loader!./view/components/footer/index.html') %>

</body>
</html>
