<div class="info">
    <div class="info__notes-title">Правила</div>
    <div class="info__notes info__notes_theme_rules">
        <div class="info__note">
            <div class="info__note-caption">.01</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </div>
        </div>
        <div class="info__note">
            <div class="info__note-caption">.02</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
        <div class="info__note">
            <div class="info__note-caption">.03</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </div>
        </div>
        <div class="info__note">
            <div class="info__note-caption">.04</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>

    <div class="info__notes-title info__notes-title_theme_red">Акции</div>
    <div class="info__notes info__notes_theme_actions">
        <div class="info__note">
            <div class="info__note-caption">.01</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eius
                eveniet facere fugiat iste iure minus omnis similique ullam? Accusantium adipisci, corporis
                culpa cupiditate odit officia provident quis sapiente soluta!
            </div>
        </div>
        <div class="info__note">
            <div class="info__note-caption">.02</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                aperiam commodi dolorem id iste laborum maxime necessitatibus neque, unde ut. Consectetur
                dolores earum exercitationem facilis laborum maxime, nemo quaerat sit?
            </div>
        </div>
        <div class="info__note">
            <div class="info__note-caption">.03</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                assumenda deleniti doloribus ducimus earum eius eveniet illum, ipsum labore natus,
                necessitatibus neque, non nulla praesentium qui rerum velit vero voluptatem?
            </div>
        </div>
        <div class="info__note">
            <div class="info__note-caption">.04</div>
            <div class="info__note-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam
                dignissimos fuga fugit, harum, iste iusto minus non provident quaerat totam unde veniam
                voluptate! Amet aut ipsum nulla repellendus voluptate?
            </div>
        </div>
    </div>
</div>