@import '../../root.pcss';

.select-service {
  color: #303030;
  font: normal 400 22px var(--proxima-nova-font-stack);
  appearance: none;
  border: 1px solid #00aeef;
  width: 100%;
  padding: 8px 0 8px 15px;
  background: url("../../../../resources/img/arrow-down.png") no-repeat right 15px top 10px;

  &::-ms-expand {
    display: none;
  }

  &::-ms-value {
    background: none;
    color: #303030;
  }
}
