@import 'swiper/dist/css/swiper.min.css';
@import '../style/variables.pcss';
@import '../style/apply.pcss';

html:not(.can-touch ) #time-picker button.pick:hover,
html:not(.can-touch ) #date-picker button.pick:hover {
    background-color: var(--blue-color);
    &.selected {
        background-color: #ffd800;
    }
}

#date-time-picker {
    display: flex;
    & #time-picker {
        margin-left: 24px;
    }
}
