main {
  padding: 27px 0 112px 0;

  & .dimensioned .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -12px;

    & > * {
      padding: 0 12px;
    }

    & .profile {
      flex: 1 1 395px;
    }

    & .info {
      flex: 2 1 741px;
    }
  }
}
