@media (max-width: 1250px) {
  main .dimensioned .flex-wrapper {
    & .profile {
      flex-basis: 310px;
    }

    & .info {
      flex-basis: 500px;
    }
  }
}

@media (max-width: 640px) {
  .notes {
    column-count: 1;
  }
}

@media (max-width: 510px) {
  .dimensioned {
    padding: 0;
  }

  .rules.notes,
  .actions.notes {
    background-size: contain;
  }
}
