.touch-test {
    height: 100px;
    //display: flex;
    //overflow: hidden;
    transform: translate3d(-100%, 0, 0);
}

.slide1, .slide2, .slide3 {
    //flex: 0 0 100%;
}

.slide1 {
    background-color: red;
}

.slide2 {
    background-color: green;
}

.slide3 {
    background-color: blue;
}