:root {
  --picker-border-color: #00aeef;
  --blue-color: #2389cd;
  --red-color: #da5178;
  --blue-custom-border-image: url('../../../resources/img/custom-border.svg?fill=#2389cd');
  --red-notes-title-color: #d94e65;
  --red-custom-border-image: url('../../../resources/img/custom-border.svg?fill=#d94e65');
  --proxima-nova-font-stack: Proxima Nova, Georgia, sans-serif;
  --open-sans-font-stack: Open Sans, sans-serif;
}
