<footer class="footer">
    <div class="dimensioned">
        <div class="footer__content">
            <div class="footer__company">
                <img
                        class="footer__company-logo"
                        src="../../../../resources/img/footer-logo.png"
                        alt="Автомойка SUZUKI"
                >
                <div class="footer__info">Автомойка SUZUKI</div>
            </div>
            <div class="footer__bar"></div>
            <nav class="footer__nav">
                <a class="footer__nav-a">О нас</a>
                <a class="footer__nav-a">Прайсы</a>
                <a class="footer__nav-a">Галерея</a>
            </nav>
            <div class="footer__bar"></div>
            <div class="footer__account">
                <img
                        class="footer__account-logo"
                        src="../../../../resources/img/account-logo.png"
                        alt="Аккаунт"
                >
                <a class="footer__account-a">Личный кабинет</a>
            </div>
        </div>
    </div>
</footer>