@import '../../styles/root.pcss';

.navigation {
  @apply --reset-control;

  &::after {
    font-size: 24px;
    color: var(--color15);
  }
}

.navigation_disabled {
  visibility: hidden;
}

.navigation_to-top::after {
  content: "\e904";
}

.navigation_to-bottom::after {
  content: "\e901";
}

.navigation_to-left::after {
  content: "\e902";
}

.navigation_to-right::after {
  content: "\e903";
}
