<header class="header">
    <div class="dimensioned">
        <div class="header-content">
            <div class="header-content_company">
                <img class=header-content_company_logo src="../../../../resources/img/header-logo.png" alt="Логотип">
                <div>
                    <div class="header-content_company_name">Автомойка SUZUKI</div>
                    <div class="header-content_company_address">ул. Карла-Маркса 89, ТЦ&nbsp;"Большая Медведица"</div>
                </div>
            </div>
            <nav class="header-content_nav">
                <div class="header-content_nav_nickname">Никнейм</div>
                <div class="header-content_nav_bar"></div>
                <a class="header-content_nav_exit">Выход</a>
            </nav>
        </div>
    </div>
</header>